@import "tailwindcss";
@tailwind utilities;

@theme {
  /* Colors */
--color-dark-red-50: #fde8ec;
--color-dark-red-100: #fad1da;
--color-dark-red-200: #f6a2b4;
--color-dark-red-300: #f1748f;
--color-dark-red-400: #ed456a;
--color-dark-red-500: #e81744;
--color-dark-red-600: #ba1237;
--color-dark-red-700: #8b0e29;
--color-dark-red-800: #5d091b;
--color-dark-red-900: #2e050e;
--color-dark-red-950: #20030a;

--color-light-red-50: #fcebe8;
--color-light-red-100: #f9d7d2;
--color-light-red-200: #f4afa4;
--color-light-red-300: #ee8777;
--color-light-red-400: #e95f49;
--color-light-red-500: #e3371c;
--color-light-red-600: #b62c16;
--color-light-red-700: #882111;
--color-light-red-800: #5b160b;
--color-light-red-900: #2d0b06;
--color-light-red-950: #200804;

--color-orange-50: #fdf0e7;
--color-orange-100: #fce2cf;
--color-orange-200: #f9c59f;
--color-orange-300: #f6a76f;
--color-orange-400: #f38a3f;
--color-orange-500: #f06d0f;
--color-orange-600: #c0570c;
--color-orange-700: #904109;
--color-orange-800: #602c06;
--color-orange-900: #301603;
--color-orange-950: #220f02;

--color-yellow-50: #fff7e5;
--color-yellow-100: #ffefcc;
--color-yellow-200: #ffdf99;
--color-yellow-300: #ffcf66;
--color-yellow-400: #ffbe33;
--color-yellow-500: #ffae00;
--color-yellow-600: #cc8b00;
--color-yellow-700: #996900;
--color-yellow-800: #664600;
--color-yellow-900: #332300;
--color-yellow-950: #241800;

--color-blue-50: #ebf9f9;
--color-blue-100: #d8f3f3;
--color-blue-200: #b0e8e8;
--color-blue-300: #89dcdc;
--color-blue-400: #62d0d0;
--color-blue-500: #3bc4c4;
--color-blue-600: #2f9d9d;
--color-blue-700: #237676;
--color-blue-800: #174f4f;
--color-blue-900: #0c2727;
--color-blue-950: #081b1b;

--color-black-50: #f3f0f4;
--color-black-100: #e7e1ea;
--color-black-200: #cfc3d5;
--color-black-300: #b6a5c0;
--color-black-400: #9e88aa;
--color-black-500: #866a95;
--color-black-600: #6b5577;
--color-black-700: #503f5a;
--color-black-800: #362a3c;
--color-black-900: #1b151e;
--color-black-950: #130f15;

  /* Fonts */
  --font-vintage: Vintage, sans-serif;
  --font-wide: Widescreen, sans-serif;
  --font-bryant: Bryant, sans-serif;
}

@font-face {
	font-family: "Vintage";
	src: url("./assets/fonts/VintageLegacy-Regular.otf");
}

@font-face {
	font-family: "Widescreen";
	src: url("./assets/fonts/Widescreen-Trial-Medium.ttf");
}

@font-face {
	font-family: "Bryant";
	src: url("./assets/fonts/Bryant-Regular-Regular.otf");
}

body {
  margin: 0;
}
